@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

html {
  position: relative;
  margin: 0;
}

body {
  margin: 0;
  /* background: rgba(0, 0, 0, 0.6); */
  background-image: url("https://res.cloudinary.com/ts-i/image/upload/c_scale,o_90,w_720/v1587036308/startng%20files/alex-iby-city-street_ee8nex.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  /* color: rgba(0, 0, 0, 0.842); */
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 1rem;
  /* color:rgb(53, 13, 13); */
  /* text-shadow: 0 0.5px rgba(240, 248, 255, 0.6); */
}

header p {
  font-weight: bolder;
  font-size: 18px;
}

header img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

header h1 {
  margin-bottom: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 35rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.493);
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

form input {
  margin-bottom: 20px;
}

form input,
form textarea {
  width: inherit;
  padding: 10px;
  border-style: 2px solid #000;
  border-radius: 7px;
  box-shadow: none;
  outline: none;
  font-family: "Lato", sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
}

.container form label {
  text-align: left;
  font-size: 0.8rem;
  margin-bottom: 5px;
  font-weight: bold;
  width: inherit;
}

.container form > button {
  margin: 2em 0;
  width: 10rem;
  border-radius: 5px;
  padding: 5px;
}

@media (max-width: 1200px) {
  body {
    background-image: url("https://res.cloudinary.com/ts-i/image/upload/v1587063179/startng%20files/alex-iby-city-street-mobile_jytsmn.jpg");
  }
}

@media (max-width: 450px) {
  form {
    width: 95%;
  }
}
